{
  ;; !  | means mandatory -   modifier(s) alone when pressend change behavior
  ;; #  | means optional  -   modifiers are optional (but atleast one necessary)

  ;; :!Ca is keycode :a and prefix a with !C

  ;; C  | left_command
  ;; T  | left_control
  ;; O  | left_option
  ;; S  | left_shift
  ;; F  | fn
  ;; Q  | right_command
  ;; W  | right_control
  ;; E  | right_option
  ;; R  | right_shift

  ;; ## | optional any (this has no effect when used on the RHS; only LHS)
  ;; !! | command + control + optional + shift (hyper)

  ;; To understand better how modifiers work in karabiner
  ;; karabiner definition of mandatory and optional
  ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

  ;; Need to prefix C T O S F with ! or #
  ;;
  ;; code for all this:
  ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

  ;; Profiles
  :profiles {
    ;; Profile Name: goku
    :goku {
      :default true
      :sim     100    ;; simultaneous_threshold_milliseconds (def: 50)
                      ;; keys need to be pressed within this threshold to be considered simultaneous
      :delay   500    ;; to_delayed_action_delay_milliseconds (def: 500)
                      ;; basically it means time after which the key press is count delayed
      :alone   1000   ;; to_if_alone_timeout_milliseconds (def: 1000)
                      ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
      :held    1000   ;; to_if_held_down_threshold_milliseconds (def: 500)
                      ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
    }
  }

  ;; Templates
  :templates {
    :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
    :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
    :open "open \"%s\""
  }

  ;; Define different kinds of input devices
  :devices {
    :apple [{:vendor_id 76}]
    ;; Macbook Pro internal keyboard
    :macbook-pro [{:vendor_id 1452 :product_id 631}]
    ;; IBM Model M
    :model-m [{:vendor_id 2689 :product_id 517}]
    ;; Easter Times (ET) I-500
    :et-i-500 [{:vendor_id 1241 :product_id 41165}]
    ;; Nostromo SpeedPad N52
    ;; Belkin Nostromo SpeedPad N52 Model No: F8GFPC100 Rev 1.0
    :sp-n52 [{:vendor_id 1293 :product_id 2069}]
    ;; Foot Switch
    ;; Both 3 switch and single switch models
    :foot-switch [{:vendor_id 3141 :product_id 29699}]
    ;; Rosewill RK-9000BR
    :rosewill-9000BR [{:vendor_id 1241 :product_id 8995}]
  }

  :main [
    ;; Cheap mechanical keyboard from Easter Times (ET) I-500 where the key caps
    ;; have been swapped to mimic the mac style keyboard
    ;; Below are the customization to make that happen
    { :des "IBM Model M specific mappings"
      :rules [:model-m
        [:caps_lock :left_control] ;; Caps lock to Control
        [:left_control :left_option] ;; Left Control to Option
        [:left_option :left_command] ;; Left Option to Command
        [:right_control :right_option] ;; Right Control to Option
        [:right_option :right_command] ;; Right Option to Command
      ]
    }

    { :des "ET I-500 specific mappings"
      :rules [:et-i-500
        [:left_command :left_option] ;; Left Command to Option
        [:left_option :left_command] ;; Left Option to Command
        [:application :right_option] ;; Application key to Option
        [:right_option :right_command] ;; Right Option to Command
      ]
    }

    { :des "Rosewill RK-9000BR specific mappings"
      :rules [:rosewill-9000BR
        [:left_command :left_option] ;; Left Command to Option
        [:left_option :left_command] ;; Left Option to Command
        [:right_command :right_option] ;; Application key to Option
        [:right_option :right_command] ;; Right Option to Command
      ]
    }

    { :des "Rectangle window manager app - Nostromo SpeedPad N52"
      :rules [:sp-n52
        ;; Move window to the next screen
        ;; Right Command + Right Control + Right Option + Right Arrow
        [:w :!QWEright_arrow]
        ;;Toggle between windows of the same app
        ;; Right Control + Tilde
        [:e :!Wgrave_accent_and_tilde]
        ;;Make window fullscreen
        ;;Right Control + Right Option + Enter
        [:d :!WEreturn_or_enter]
      ]
    }

    { :des "Rectangle window manager app - Foot Switch"
      :rules [:foot-switch
        [:x :escape] ;; Left Switch to Escape key
        [:g :!Cleft_arrow] ;; Middle switch to Command + Left Arrow
        [:m :!Cw] ;; Right switch to Command + W
        [:i :escape] ;; Single switch left of 3-switch to Escape key
        [:v :escape]
      ]
    }
  ]
}
